.col-xs-12
  form#foros-new-post.js-new-post-form.collapse ng-submit="addThread()" role="form" name='threadForm'
      div ng-include="templateFolder + '_form.html'"
      div ng-include="templateFolder + '_form_create_buttons.html'"
