i.material-icons {
  font-size: 16px;
  color: #999;
}
i.material-icons.lock {
  margin-top: 20px;
  position: absolute;
  left: 0px;
  background-color: rgb(238, 76, 155);
  padding: 6px;
  color: white;
  border-radius: 28px;
}
i.material-icons.cross {
  background-color: #999;
  padding: 2px;
  padding-left: 3px;
  color: white;
  border-radius: 8px;
  font-size: 10px;
}
i.material-icons.cross:hover {
  background-color: #04B7F1;
}
i.material-icons.publish:hover {
  color: #04B7F1;
}
.cursos-menu {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #e2dede !important;
  font-size: 16px !important;
  padding: 10px 0px !important;
}
li.active .cursos-menu {
  color: #04B7F1 !important;
  border-bottom: 1px solid #04B7F1 !important;
}
.col-sm-1.edit {
  padding-top: 10px;
}
.privado {
  margin-top: 20px;
  margin-left: -15px;
  padding-left: 15px;
}

.edit {
    padding-top: 10px;
    width: 10px;
    float: right;
}
