i.material-icons {
  font-size: 16px;
  color: #999;
}
i.material-icons.lock {
  margin-top: 20px;
  position: absolute;
  left: 0px;
  background-color: rgb(238, 76, 155);
  padding: 6px;
  color: white;
  border-radius: 28px;
}
.cursos-menu {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #e2dede !important;
  font-size: 16px !important;
  padding: 10px 0px !important;
}

li.active .cursos-menu{
  color: #04B7F1 !important;
  border-bottom: 1px solid #04B7F1 !important;
}
