.faq .panel-group .panel+.panel {
  margin: 0px;
}
.faq .panel-heading:hover {
  background-color: #efefef;
}
.faq span.caret.pull-right {
  margin-top: 5px;
}
.faq #accordion .panel.panel-default {
  border-bottom: solid 1px #efefef;
  cursor: pointer;
}
#collapseFaqForm label.col-sm-2.control-label {
  font-weight: lighter;
}
i.material-icons.plus {
  background-color: #fc55a6;
  color: #ffffff;
  padding: 5px;
  margin-right: 5px;
}
button.btn.btn-default.vista {
  background-color: rgb(252, 85, 166);
  color: white;
  padding: 6px;
}
button.btn.btn-default.publicar {
  background-color: rgb(0, 173, 238);
  color: white;
  padding: 6px;
}
button.btn.btn-defaul.guardar {
  background-color: whitesmoke;
  padding: 6px;
}
small, .small {
  font-size: 14px;
  font-weight: inherit;
}
.cursos-menu {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #e2dede !important;
  font-size: 16px !important;
  padding: 10px 0px !important;
}
li.active .cursos-menu {
  color: #04B7F1 !important;
  border-bottom: 1px solid #04B7F1 !important;
}
button#dropdownMenu1 span.caret {
  color: #ee4c9b !important;
  margin-top: 15px !important;
}
button#dropdownMenu1 {
  font-size: 22px !important;
  width: 100% !important;
  border: 1px solid #FFFFFF !important;
  height: 60px;
}
i.material-icons.square {
  margin-top: 7px !important;
  color: rgb(188, 188, 188);
  font-size: 20px;
  margin-right: 10px !important;
}
button#dropdownMenu1:hover span.caret {
  color: #ee4c9b !important;
}
span.dropdown {
  font-size: 22px;
}
button#dropdownMenu1:hover span.dropdown {
  color: #333333 !important;
}
.faq i.material-icons.edit {
  background-color: #00a9e8;
  color: white;
  border-radius: 14px;
  padding: 4px;
  font-size: 12px;
}
.faq i.material-icons.cross {
  background-color: #ccc;
  padding: 4px;
  border-radius: 14px;
  color: #fff;
  font-size: 12px;
}
.faq h4.panel-title {
  color: #666;
  font-size: 16px;
}

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff;
}

.checkbox label{
  margin-left: 40px;
}

.faq .checkbox{
  margin-bottom: 0px;
}
