thead {
  background-color: #f5f5f6;
}
table.table.table-hover {
  font-size: 15px;
}
.edit-profile input[type="checkbox"] {
  min-height: 0px;
  vertical-align: middle;
}

.edit-profile i.material-icons {
  font-size: 10px;
  background-color: #999;
  color: #fff;
  border-radius: 16px;
  padding: 3px;
    margin: 1px
}
.edit-profile i.material-icons:hover{
  background-color : #00a9e8
}

.edit-profile i.material-icons.cross {
  padding-left: 2px;
}

select.edit-role{
  height: 25px !important;
  border-color: #ccc;
}
a.dropdown-toggle.material-icons {
  color: #00a9e8;
  background-color: white;
  border-radius: 16px;
  padding: 2px 2px 2px 3px;
  font-size: 18px;
  margin-left: 8px;
}
a.dropdown-toggle.material-icons:hover,
a.dropdown-toggle.material-icons:active,
a.dropdown-toggle.material-icons:focus,
.btn-group.open a.dropdown-toggle.material-icons {
  background-color: #00a9e8;
  color: white;
  box-shadow: none;
}

.courses-search ul.dropdown-menu.dropdown-menu-right, .invite-users ul.dropdown-menu{
  width: 200px;
}

.invite-users button#dropdownMenu1 span.caret{
  color: #fff;
}

.invite-users button#dropdownMenu1:hover span.caret,
.invite-users button#dropdownMenu1:focus span.caret{
  color: #00a9e8;
}
