@import "fonts.css.scss";
@import "color.css.scss";

.edit-profile-account-config {
  margin-bottom: 50px;
  display: inline-block;
  width: 100%;
  .title-underlined {
    font-size: 26px;
    h3 {
      margin-top: 0;
      height: 20px;
      line-height: 20px;
      margin-bottom: 23px;
      color: $color-gray-h3;
    }
  }
  .email {
    margin-bottom: 35px;
    > .add {
      width: 630px;
      display: block;
      margin-bottom: 11px;
      > .title {
        @include font-input;
        margin-bottom: 18px;
        font-size: 18px;
        font-weight: 300;
        color: $color-gray-font;
      }
      > input[type="text"] {
        @include font-input;
        display: inline-block;
        width: 434px;
        padding: 0px 20px;
        height: 44px;
      }
      > button {
        float: right;
        padding: 7px 19px;
        font-size: 14px;
        margin-top: 5px;
        line-height: 23px;
        min-width: 123px;
        font-weight: 300;
      }
    }
    > table.emails {
      margin-bottom: 47px;
      tr {
        height: 40px;
        border-bottom: 1px solid $light-grey;
        line-height: 38px;
        td {
          padding: 1px;
          color: $color-gray-font;
          font-weight: 300;
        }

        td:first-child {
          width: 45%;
        }

        td:nth-child(2) {
          width: 36%;
        }
      }
      tr:first-child {
        td:nth-child(2) {
          color: $fuccia;
        }
      }
    }
  }
  >.edit-email-wrapper {
    margin-bottom: 44px;
    padding-bottom : 10px;
    border-bottom: 1px solid #c1c2c2;
    .inline-left {
      color: #39383a;
    }
  }
  >.edit-password-wrapper {
    margin-bottom: 30px;
    /*TODO delete when multiple emails available*/
    .inline-left {
      width: 160px;
      margin-right: 0;
    }
    .inline-left.change-email {
      margin-right: 102px;
    }
    /*TODO delete when multiple emails available*/
    .inline-right {
      .grey {
        background-color: #696969;
      }
      .grey:hover {
        background-color: #606060;
      }
      a {
        height: 35px;
        width: 150px;
        padding: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }

  >.social-connection-wrapper {
    margin-bottom: 29px;
    .inline-left {
      margin-right: 47px;
      vertical-align: top;
      margin-top: 10px;
    }

    .inline-right {
      .social-option-wrapper {
        margin-bottom: 9px;
      }

      .form-icon.tooltip-form {
        float: none;
        position: relative;
        vertical-align: middle;
      }
    }
    .connect-fb-image, .connect-tw-image, .connect-ln-image {
      font-size: 24px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      display: inline-block;
      text-align: center;
      border: 1px solid;
      border-radius: 100%;
    }

    .connect-fb-image.connected {
      border: 1px solid #4b66a0;
      background-color: #4b66a0;
      color: #fff;
    }
    .connect-tw-image.connected {
      border: 1px solid #50a4ec;
      background-color: #50a4ec;
      color: #fff;
    }
    .connect-ln-image.connected {
      border: 1px solid #0e69ac;
      background-color: #0e69ac;
      color: #fff;
    }

    .connect-selected {
      display: inline-block;
      height: 44px;
      vertical-align: top;
      line-height: 44px;
      margin-left: 5px;
      .user {
        color: $fuccia;
      }
      a:hover {
        color: $fuccia;
      }
      .unlink {
        color: $fuccia;
      }

    }
  }

  >.time-zone-wrapper {
    height:45px;
    margin-bottom: 25px;
    .inline-left {
      margin-right: 41px;
    }
  }

  >.language-wrapper {
    height: 45px;
    margin-bottom: 25px;
    .inline-left {
      margin-right: 93px;
    }
  }

  >.currency-wrapper {
    height:45px;
    margin-bottom: 25px;
    .inline-left {
      margin-right: 81px;
    }
  }

  .inline-left {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: $color-gray-font;
    margin-right: 57px;
    vertical-align: middle;
  }
  .inline-right {
    vertical-align: middle;
    display: inline-block;
  }

  select {
    font-size: 12px;
    font-weight: 300;
    padding-left: 16px;
  }
  .config-footer {
    height: 33px;
    position: relative;
    margin-bottom: 54px;

    .discrete-link {
      display: inline-block;
      position: absolute;
      bottom: 0px;
      font-size: 10px;
      font-style: italic;
      font-weight: 300;
    }
    .save-button {
      float: right;
      width: 113px;
      .flat-button {
        margin-right: 16px;
      }
    }
  }
}

/* select style */

.select-wrapper {
  position: relative;
  width: 510px;
  height: 36px;
  select {
    z-index: 1;
    background: transparent;
    -webkit-appearance: none;
    position: absolute;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 45px;
  }
  &.select-wrapper-multiple {
    height: 72px;
  }
  select[multiple] {
    height: 85px;
  }

  i {
    position: absolute;
    right: 15px;
    line-height: 45px;
    font-size: 15px;
    color: #00A9E8;
  }
}

.select-wrapper.select-wrapper-half {
  width: 160px;
}

.select-wrapper.select-wrapper-channel {
  width: 521px;
}

.select-wrapper.select-wrapper-discussions {
  width: 521px;
  height: 90px;
}

.field-error {
  margin-top: 5px;
  padding: 4px 1px;
}

.hide-profile-wrapper .inline-right{
  width: 200px;
}

.tag-input .bootstrap-tagsinput{
  line-height: 30px;
  margin-bottom: 0px;
}
