.slider-image-form {
  padding: 10px 0;
}

.slider-image-form-cover {
  width: 300px;
  min-height: 43px;
  max-height: 110px;
  padding-left: 10px;
  display: inline-block;
}

.slider-image-form-cover-container:hover {
  .slider-image-form-cover-delete {
    display: block;
  }
}

  .slider-image-form-cover-container {
    position: relative;
    height: 110px;
    display: inline-block;
  }

  .slider-image-form-cover-image {
    max-width: 230px;
    max-height: 100%;
  }

  .slider-image-form-cover-delete {
    position: absolute;
    display: none;
    top: 5px;
    right: 5px;
  }

.slider-image-form .slider-image-form-url {
  margin: 0;
  margin-top: 14px;
  margin-left: 10px;
  min-height: 28px;
  padding: 3px 7px;
  width: 450px;
}
.new-slider-image {
  position: relative;
  margin-left: 10px;
  margin-top: 15px;
}

  .new-slider-image-text {
    margin-left: 6px;
  }

  .new-slider-image-sub-text {
    font-style: italic;
    color: #868585;
    position: absolute;
    left: 25px;
    top: 25px;
  }

.slider-error-alert {
  margin-top: 25px;
  margin-right: 44px;
  padding: 10px;
}

.slider-images {
  padding-bottom: 15px;
}

.discussions-check {
  padding: 5px 0;
}

  .discussions-check-label {
    width: 200px;
  }
