@import "color.css.scss";

.with-play {
  position: relative;
  display: inline-block;

  img {
    z-index: 9;
  }

  .play-button {
    background: image-url('play.png') center center no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;
    z-index: 10;
  }
}

.question-list {
  li.list-group-item.media {
    border: none;
    border-top: 1px solid #dddddd;
    margin-top: 0;
    padding: 25px 15px;
  }

  .media.answer {
    margin-top: 25px;
  }
}

span.label.pull-right {
  width: 105px;
}

.grey-border {
  width: 150px;
  border: 1px solid #dddddd;
}

.question-body {
  min-height: 60px;
}

.question-avatar {
  width: 64px;
  height: 64px;
}

.comunity-avatar {
  width: 200px;
  height: 200px;
  img {
    width: 100%;
    max-height: 100%;
  }
}

.topClassIcons {
  .tooltip-inner {
    white-space: nowrap;
    max-width: none;
  }
}

.about-course {
  padding-left: 10px;
}

.courseVideo {
  width: 100%;
}

.courseVideo img {
  max-height: 210px;
}

.list-inline.nav-justified.class-social-icons {
  margin-bottom: 0;
}

#class_landing .row.course-info {
  padding-top: 0;
}
