.carousel-inner.class-forum {
  margin-left: 0;
  width: 80%;
  left: 10%;
}

#numberCarousel {
  padding: 40px;
  .carousel-inner {
    margin-left: 0;
  }
  .item {
    text-align: center;
    cursor: pointer;
    .col-xs-2 {
      background-color: #fff;
    }
  }
  .carousel-inner > {
    .next {
      left: 16.66666667%;
    }
    .prev {
      left: -16.66667%;
    }
    .next.left, .prev.right {
      left: 0;
    }
    .active {
      &.left {
        left: -16.66667%;
      }
      &.right {
        left: 16.66666667%;
      }
    }
  }
}

.carousel-control {
  &.left, &.right {
    background-image: none;
  }
  width: 10%;
}

#numberCarousel .carousel-control {
  .icon-prev, .icon-next {
    transform: translate(0, -50%);
  }
}

/* End carousel */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.navbar {
  margin-bottom: 0px;
}

.moduleTitle button.dropdown-toggle.pull-right {
  margin: 20px 0px 20px 20px;
}

.item blockquote {
  border-left: none;
  margin: 0;
  img {
    margin-bottom: 10px;
  }
  p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
  }
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
    li {
      display: inline-block;
      margin: 0px 5px;
      width: 15px;
      height: 15px;
      &.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
      }
    }
  }
}

/* custom inclusion of right, left and below tabs */

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: none;
}

.tab-content > .active, .pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs {
  > li {
    float: none;
    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
      margin-right: -1px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      &:hover, &:focus {
        border-color: #eeeeee #dddddd #eeeeee #eeeeee;
      }
    }
  }
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
  .active > a {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
    &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #ffffff;
    }
  }
}
