@import "color.css.scss";
@import "mixins.css.scss";

.contentent-wrapper {
  border-bottom: solid 2px $light-grey;
  padding: 10px 0;
  position: relative;

  .content-information {
    height: 150px;
  }

  .content-data-wrapper {
    margin-top: 25px;
    .content-data {
      margin-left: 10px;
      .pink { color: $bright-fuccia }
      i { margin: 1px; }
    }
  }
  .author {
    position: absolute;
    bottom: 0;
    margin-top: 15px;
    img {
      @include border-radius(50px);
      width: 35%;
      height: auto;
      margin-right: 10px;
    }
  }

  a {
    color: $dark-grey;
  }
}

.fake-menu {
  height: 61px;
  background: #4C4C4C;
}

.content-menu {
  border-bottom: solid 1px $medium-grey;
  height: 60px;
  .menu-container {
    margin: auto;
    width: 940px;
    text-align: center;
    > :first-child .col-md-3 { border: none }
    a > .col-md-3 {
      border-left: 1px solid $medium-grey;
      h3 { line-height: 60px; display: inline;}
      i { line-height: 60px }
    }

  }
}

.no-avaliable-content {
  background-color: $medium-grey;
  text-align: center;
  height: 600px;
  h3 { line-height: 600px; }

}

.with-text-hover .hover, .with-text-hover .hover-inline-block { display: none; }
.with-text-hover:hover .default { display: none; }
.with-text-hover:hover .hover { display: inline; }
.with-text-hover:hover .hover-inline-block { display: inline-block; }
