
$open-sans: 'Open Sans', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;


.big-font {
  font-size: 70px;
}

.mid-font {
  font-size: 24px;
}

.regular-font {
  font-size: 19px;
}

.small-font {
  font-size: 17px;
}

.super-small-font {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.osans {
  font-family: $open-sans;
}

.osans-cond {
  font-family: $open-sans-condensed;
}

.spaced-paragraph {
  line-height: 20px;
}

@mixin font-user-name ($color: $color-gray-title, $size: 25px, $transform: none) {
  font-family: $open-sans;
  font-size: $size;
  font-weight: bold;
  line-height: 30px;
  color: $color;
  text-transform: $transform;
}

@mixin font-format-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin font-input($color: $color-gray-input) {
  font-family: $open-sans;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: $color;
}

@mixin font-user-desc ($color: $color-grey-title, $size: 25px, $transform: none) {
  @include font-user-name($color, $size, $transform);
}
