input[type="url"].ng-invalid.ng-dirty,
input[type="text"].ng-invalid.ng-dirty {
  color: #ef9595;
  border-color: #dca7a7;
}

.link-form-container {
  padding-bottom: 15px;
}

.link-form-container .form-group {
  padding-top: 15px;
}

.form-group#link-form {
  margin-bottom: 0;
}

.link-preview {
  margin-top: 5px;
  padding: 20px 5px;
}

.nove-post-image {
  max-width: 360px;
  max-height: 220px;
}

.image-crop-modal .modal-dialog {
  width: 704px;
}

.image-crop-input {
  position: absolute;
  left: -9999px;
}

.post-body-text {
  white-space: pre-line;
}

.row.tab-no-paddding {
  padding-top: 0;
}

h3.ui-sref-link:hover {
  cursor: pointer;
  color: #999;
}

.form-control.forum-comment-input {
  border-color: #F9F9F9;
  width: 100%;
}

.editable-wrap {
  width: 90%;
}

.category-selected {
  background-color: #E6E6E6;
}
