@import "color.css.scss";
html {
  min-width: 940px;
}

.errors:empty {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.full-line {
  width: 100%;
  height: 1px;
}

.bordered {
  border: 1px solid #c2c2c2;
}

.center {
  margin: 0 auto;
}

.circular {
  border-radius: 100%;
  &.small {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  &.medium {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  &.regular {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 15px 5px;
  }
  &.big {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}

.section.bordered-medium-grey {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
}

.section.error {
  margin-top: 15px;
  h1 {
    margin-top: 15px;
  }
}

.inline {
  display: inline-block;
}

.fa {
  line-height: inherit;
}

.fa-times-circle {
  line-height: 21px;
}

.fuccia-text {
  color: #ee4c9b;
}

.light-blue-text {
  color: #00a9e8;
}

.black-text {
  color: #383838;
}

.dark-grey-text {
  color: #4c4c4c;
  &.light-blue-hover:hover {
    color: #00a9e8;
  }
}

.medium-grey-text {
  color: #c2c2c2;
}

.light-grey-text {
  color: #e9e9e9;
  &.darker-hover:hover {
    color: #c2c2c2;
  }
}

.super-light-grey-text {
  color: #f9f9f9;
}

.white-text, .btn.white-text {
  color: white;
  &.light-blue-hover:hover {
    color: #00a9e8;
  }
}

.no-hover:hover {
  color: inherit;
}

.fuccia {
  background: #ee4c9b;
  &.active-hover:hover {
    background: #fc55a6;
  }
}

.bright-fuccia {
  background: #fc55a6;
}

.bright-grey {
  background: #c9c9c9;
}

.light-blue {
  background: #00a9e8;
  &.active-hover:hover {
    background: #00baff;
  }
}

.black {
  background: #383838;
}

.dark-grey {
  background: #4c4c4c;
}

.medium-grey {
  background: #c2c2c2;
}

.light-grey {
  background: #e9e9e9;
}

.super-light-grey {
  background: #f9f9f9;
}

.white {
  background: white;
}

.facebook-background {
  background: #3b5998;
}

.googleplus-background {
  background: #d64136;
}

.linkedin-background {
  background: #0073b2;
}

.bit-transparent {
  opacity: 0.9;
}

.small-button {
  width: 100px;
}

.medium-button {
  width: 200px;
}

.large-button {
  width: 250px;
}

.full-button {
  width: 100%;
}

button.full-button {
  border: none;
}

.adaptive-button {
  padding: 8px 20px;
}

.vertical-top, .vertical-middle {
  float: none;
}

.vertical-top {
  float: none;
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

.small-space-right {
  margin-right: 10px;
}

.small-space-down {
  margin-bottom: 10px;
}

.small-space-top {
  margin-top: 10px;
}

.mid-space-down {
  margin-bottom: 20px;
}

.mid-vert-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.big-space-down {
  margin-bottom: 40px;
}

.big-hor-padding {
  padding-left: 20px;
  padding-right: 20px;
}
