$light-grey: #AEAEAE;
$light-blue: #00ADEF;
$text: #505251;
$title: #4D4D4F;
$grey-line: #C0C0C0;
$invisible-grey: #F4F4F4;
.reset-table-style {
  table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-spacing: 0;
  }
}

.mail-table {
  width: 600px;
  margin: auto;
  border-width: 40px !important;
  border-style: solid !important;
  border-color: $invisible-grey !important;

  .bold {
    font-weight: bold;
  }

  .url {
    a {
      color: $light-blue;
    }
  }

  .signature {
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    font-style: italic;
    text-align: center;
    font-size: 13px;
    color: $text;
    img{
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  .header {
    height: 100px;
    img {
      max-height: 100px;
      max-width: 300px;
    }
  }

  .center-content {
    text-align: center;
  }

  .full-width {
    text-align: center;
    width: 600px;
  }

  .mid-line {
    vertical-align: middle;
    width: 140px;
    height: 37px;
    hr {
      border: 0;
      border-bottom: 1px solid $grey-line;
    }
  }
  .align-left-paragraph {
    text-align:left;
  }
  .icon {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    img{
      vertical-align: middle;
    }
  }

  .spacer {
    width: 85px;
    height: 35px;
  }

  .title {
    border-top:    1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    text-align: center;
    color: $title;
    height: 70px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
  }

  .small-title {
    color: $title;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 10px;
  }

  .button {
    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
    background-color: $light-blue;
    height: 45px;
    border-left: 90px solid white;
    border-right: 90px solid white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;

  }

  .text-section {
    padding: 25px 0px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $text;
    ul {
      text-align: left;
      margin: 10px 0px;
    }
  }

  .text-section.left {
    text-align: left;
  }
}

.uppercase {
  text-transform: uppercase;
}

.arrow {
  float: left;
  margin-top: 3%;
}

.macbook {
  width: 200px;
}

.config-text {
  min-height: 160px;
}

.community {
  width: 154px;
  padding-left: 40px;
}

.community-text {
  min-height: 130px;
}

.text-uppercase {
  text-transform: uppercase;
}
