@import "fonts.css.scss";
@import "color.css.scss";

.profile_name_color {
  color: black;
}

.contacts {
  margin: 0px 5px 12px 5px !important;
}

#cancell {
  margin-left: 10px;
}

.buttons {
  margin-top: 5px;
}

#subject-row input {
  min-width: 515px;
  max-width: 515px;
}

#send-message #subject-row {
  padding-top: 30px;
}

#send-message form {
  padding-top: 20px;
}

.full-width {
  width: 334px;
}

#send-message textarea {
  min-width: 515px;
  max-width: 515px;
  min-height: 100px;
}

.modal h2 {
  display: inline;
}

.width-432 {
  max-width: 432px;
}

#products-well {
  margin-left: 0px;
  margin-top: 10px;
}

.add-product {
  background-color: #4C4D4F;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
}

.add-product a {
  color: white;
  text-decoration: none;
}

#products-well h4 {
  margin-top: 0px;
}

#similar_interests_banner .user-hashtag {
  margin-left: 12px;
  margin-top: 55px;
}

.user-public-profile-avatar {
  width: 81px;
  height: 81px;
}
.notification-avatar {
  width: 60px;
  height: 60px;
}

.notification-user-name {
  padding-top: 18px;
}

.notification-title {
  color: #4c4d4f;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #4c4d4f;
}

.icon-navbar-margin {
  margin-right: 6px;
}

#left-menu-font {
  text-shadow: none;
}

#user-notification-button {
  text-shadow: none;
}

.save-button {
  margin-right: 30px;
}

.input-user-profile {
  width: 90%;
}

.accepted {
  color: red;
}

.notifications{
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-bottom-30 {
  margin-bottom:30px;
}

#user_profile .colored-button.grey, #user_profile .colored-button.pink {
  display: inline
}

.short-bio-textarea {
  width: 434px;
  height: 150px;
}

.user-textarea {
  width: 434px;
  height: 250px;
}

#user_profile select {
  width:448px;
}

#user_profile {
  padding-bottom: 250px;
  background-color: white;
}

.light-blue-user {
  background-color: #D5E3FE;
}

.padding-search-user {
  padding-top: 35px;
}

.padding-top-35 {
  padding-bottom: 140px;
  padding-top: 10px;
}

.black {
  background-color: white;
  text-shadow: none;
}

.black a {
  color: #4c4d4f;
  font-size: 16px;
}

#menu ul li.active a {
  background-color: transparent;
  color: #e62281;
}

.blue_button {
  background-color: #3A9AC4 !important;
}

#menu li {
  font-size: 12px;
  padding-top: 25x;
}

#menu {
  border-radius: 5px;
}

.grey {
  background-color: #4B4C4D;
}

.grey p {
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#notification_container {
  position:relative;     /* This is crucial for the absolutely positioned element */
  width:16px;
  height:16px;
  display: inline;
}

#user-notification-button {
  cursor: pointer;
}

.notification_bubble {
  position:absolute;    /* This breaks the div from the normal HTML document. */
  top: -12px;
  left: 13px;
  padding-bottom:5px;
  background-color:#4baad3; /* you could use a background image if you'd like as well */
  color:white;
  font-weight:bold;
  font-size: 13px;
  width: 10px;
  height: 15px;
  width: 18px;
  height: 12px;
  text-align: center;
  line-height: 17px;
  /* The following is CSS3, but isn't crucial for this technique to work. */
  /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
  /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
  border-radius:30px;
}

.nav-list li {
  line-height: 36px
}

li#first-row {
  display: none;
}

/* Search */

#user-search-name {
  background-color: #F0EEE8;
}

#no-messages {
  text-align: center;
  padding: 8px 0px 8px 0px;
}

#user-search-fields {
  background-color: white;
}

#user-search-name .container {
  min-height: 50px;
}
#user-search-fields .container {
  min-height: 30px;
}

#user-suggestions {
  margin-top:20px;
  margin-bottom:20px;
}

#user-suggestions .chzn-choices {
  width: 605px;
}

#cancel-search, #search-users {
  padding: 0px;
}

#cancel-search{
  margin-top:3px;
}

#suggestions-button {
  margin: 0 auto;
  border-radius: 0px;
  max-width: 100%;
}

#suggestion-button-span {
  margin-right: 0px;
}

#search-filters {
  margin-left: 0px;
  width: 660px;
}

#search-filters .span4 {
  margin-left: 0px;
  width: 220px !important;
}

#search-button button {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  height: 25px;
  max-width: 100%;
}

#search-button {
  margin: 0px;
}

.tag-auditorium:hover{
  background-color: #e62281;
  color: white;
}

#search-filters .span4.filter {
  width:206px;
}

#search-filters div.chzn-container {
  width: 220px !important;
  height: 50px !important;
}

#search-filters .chzn-container .chzn-single {
  border-radius: 0px !important;
  background-image: none !important;
  height: 48px !important;
  width: 219px !important;
  padding: 0px !important;
}

#search-filters .chzn-container .chzn-single span {
  border-radius: 0px !important;
  height: 50px !important;
  margin-top: 10px !important;
  margin-left: 19px !important;
  font-size: larger !important;
  margin-left: 5px;
}

#search-filters .chzn-container .chzn-single div {
  border-radius: 0px !important;
  height: 50px !important;
  margin-top: 12px !important;
  font-size: larger !important;
}

.user-suggestion-item {
  margin: 15px;
  display: inline-block;
  text-align: center;
}

.user-suggestion-image {
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  display: block;
  margin: 0 auto;
}

.user-suggestion-image img {
  max-height: none;
  max-width: none;
  width: 100%;
  height: 100%;
}

.user-suggestion-name {
  @include font-user-name($size: 11px, $transform: uppercase);
  display: block;
  text-align: center;
  margin-top: 7px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#users-search-name-input {
  @include font-input;
  border-radius: 0px;
  height: 25px;
  width: 90%;
  margin-top: 0;
  padding: 18px;
}

.users-search-advanced {
  @include font-input;
  font-size: 11px;
  padding-top: 21px;
  cursor: pointer;
  .users-search-advanced-arrow {
    background-image: asset-url('advancedSearchArrow.png');
    background-repeat: no-repeat;
    width: 5px;
    height: 10px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
  }
}

.center-filters {
  margin-left: 65px !important;
}

#suggestions-tags .span8 {
  margin-left: 0px;
  width: 660px !important;
}

#suggestions-tags .span2 {
  margin-left: 0px;
}

#suggestions-tags div.chzn-container {
  width: 660px;
}

#suggestions-tags .chzn-drop {
  width: 660px;
}

#suggestions-tags .chzn-container .chzn-choices {
  width: 660px !important;
  padding: 0px !important;
}

#searched-users .pagination {
  clear:both;
}

#ajax-loader2 {
  height: 80px;
  z-index: 20000000;
}

#searched-users .pagination .page, #searched-users .pagination a {
  color: white;
  opacity: 0;
}

#searched-users #ajax-loader {
  clear:both;
  text-align: center;
  margin: 5px 0;
}

#search-users {
  border-bottom: 1px solid white;
}

h2.padding_botom_0px.name {
  font-size:  12px;
  height: 20px;
}

.row-fluid.margin-bottom-30
.span3.row-fluid {
  heigth:20px;
}

.wells#users {
  border-bottom: 1px solid #e3e3e3;
  background-color: white;
}

.user-line {
  width: 1px;
  height: 1000px;
  background: #AAAFA7;
  margin-right: 5px;
}

.name-list {
  font-size: 12px;
}

.profile-photo {
  height: 130px;
  width: 130px;
}

.user-public-profile {
  .social-links {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    display: block;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    .social {
      display: inline-block;
      height: 100%;
      padding: 0 8px;
      border-left: solid 1px $color-gray-border;
      &:first-child {
        border: none;
      }
    }
  }
  .user-header {
    margin-top: 90px;
    margin-bottom: 15px;
    position: relative;
    form {
      display: inline;
    }
    .flat-button {
      border: 0;
      display: inline-block;
      text-align: center;
      color: white;
      margin: 10px 1px;
      padding: 5px 0;
      width: 104px;
      font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;
      &.soon:hover:after {
        content: attr(replace);
        position: absolute;
        left: 5%;
        top: 17%;
        background-color: inherit;

      }
      &.blue {
        background-color: #04B7F1;
      }

      &.pink {
        background-color: #EE56A9;
      }

      &.grey {
        font-size: 10px;
      }

      &.long {
        width: 215px;
      }
    }

    .followers {
      position: absolute;
      height: 50px;
      line-height: 50px;
      bottom: -2px;
      margin-left: 20px;
      img {
        margin-bottom: 5px;
      }
      .total-followers {
        font-weight: bold;
        font-size: 18px;
        font-family: 'Open Sans Light', 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
        margin-left: 5px;
      }
    }
    h4 {
      @include font-user-name;
      @include font-format-truncate;
      font-size: 24px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      color: $color-grey-title;
    }
    h5 {
      @include font-user-desc;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;
      margin-top: 5px;
    }
    p {
      margin: 19px 0;
      font-size: 12px;
      line-height: 22px;
    }
  }
  .centered-row {
    width: 690px;
    margin: auto;
    text-align: center;
  }
}

#user-content {
  min-height: 400px;
  padding-bottom: 70px;
}

.user-public-profile-menu {
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-gray-border;
  margin-bottom: 40px;
  ul {
    margin: 0;
    padding: 0;
    span {
      text-align: center;
      width: 118px;
    }
    .bar-element {
      display: inline-flex;
      margin: 0 -2px;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: $color-gray-border;
      position: relative;
      a {
        padding: 30px 60px;
      }
      &:hover {
        background-color: $color-paleblue;
        a{color: white !important};
      }
      &.soon {
       padding: 30px 60px;
       &:hover {
        background-color: $color-gray-button-hover;
        &:before {
          content: attr(replace);
          background-color: $color-gray-button-hover;
          position: absolute;
          width: 100%;
          left: 0;
          color: white !important;
          font-style: italic;
        }
      }
     }
     &.active a {
      color: $color-paleblue;
      :hover {
        color:white;
      }
     }
     &:last-child {
       border-width: 0;
      }
    }
  }
}

.picture-triangle {
  position: relative;
  img {
    width: 215px;
    height: 215px;
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: ' ';
    width: 10px;
    height: 10px;
    background-image: url('thumb-triangle.png');
  }
}

.flat-button {
  border: 0;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 10px 1px;
  padding: 5px 0;
  width: 104px;
  font-family: 'Open Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;

  &.blue {
    background-color: #04B7F1;
  }

  &.pink {
    background-color: #EE56A9;
  }

  &.grey {
    font-size: 10px;
  }

  &.long {
    width: 215px;
  }

  &.medium {
    width: 100px;
  }
}

.row.user-header .col-sm-9 {
  min-height: 215px;
}
